* {
  box-sizing: border-box;
}
/*.socials_container {
  display: grid;
  grid-template-rows: 100%;
  background-color: #000000;
  height: 20%;
} */
.title_container {
  display: grid;
  text-align: center;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 17px;
  color: #000000;
  padding: 10px;
  height: 81px;
}
.navbar_container {
  display: inline-block;
}
